.git
.github
.vscode
node_modules
vendor
.vscode
node_modules
vendor
laravel-app/node_modules
laravel-app/vendor
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
.env
.env.*
!.env.example
.env.local
.env.*.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

